# Python bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
env/
venv/
ENV/

# Poetry / Pipenv
.poetry/
*.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/
*.nbconvert.ipynb

# Logs
*.log

# Environment variables
.env
.env.*
*.env

# VS Code settings
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
